.new-comment
  %h2 Neuer Kommentar hinzufügen
  =form_for Comment.new, :url => blog_post_comments_path(blog_post) do |form|
    =form.label :name
    =form.text_field :name
    %br
    =form.label :message
    =form.text_area :message
    %br
    =form.submit 'Kommentar abschicken'